<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <header>
     <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/aboutus">About us</a>
            </li>
            <li>
                <a href="">Contact us</a>
            </li>
            <li>
                <a href="">Our Services</a>
            </li>
            <li>
                <a href="">Gallery</a>
            </li>
        </ul>
     </nav>
    </header>
    <section>
    {% block middle %}


    {% endblock %}

    </section>
    <footer>


    </footer>
</body>
</html>
